<form class="item-detail__form" [formGroup]="itemForm">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Alias</mat-label>
        <input matInput formControlName="alias">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Location</mat-label>
        <textarea matInput formControlName="location"></textarea>
    </mat-form-field>

    <button mat-raised-button (click)="saveItem()">Save</button>
</form>