<form class="item-edit__form" #form="ngForm">
    <div class="row">
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput name="name" [(ngModel)]="spell.name">
            </mat-form-field>
        </div>
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Alias</mat-label>
                <input matInput name="alias" [(ngModel)]="spell.alias">
            </mat-form-field>
        </div>
    </div>
    
    <mat-form-field appearance="fill">
        <mat-label>Item Type</mat-label>
        <mat-select name="type" [(ngModel)]="spell.type" [compareWith]="compareFn" [disabled]="true">
            <mat-option *ngFor="let type of itemTypeOptions" [value]="type">{{type.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="row">
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>FP Cost</mat-label>
                <input matInput name="fpCost" type="number" [(ngModel)]="spell.fpCost">
            </mat-form-field>
        </div>
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Slots</mat-label>
                <input matInput name="slots" type="number" [(ngModel)]="spell.slots">
            </mat-form-field>
        </div>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Item Effect</mat-label>
        <textarea matInput name="effect" [(ngModel)]="spell.effect"></textarea>
    </mat-form-field>

    <h2>Attributes Required</h2>
    <div class="row">
        <div class="row__column row__column--4">
            <mat-form-field appearance="fill">
                <mat-label>Intelligence</mat-label>
                <input matInput name="int" type="number" [(ngModel)]="spell.int">
            </mat-form-field>
        </div>
        <div class="row__column row__column--4">
            <mat-form-field appearance="fill">
                <mat-label>Faith</mat-label>
                <input matInput name="fai" type="number" [(ngModel)]="spell.fai">
            </mat-form-field>
        </div>
        <div class="row__column row__column--4">
            <mat-form-field appearance="fill">
                <mat-label>Arcane</mat-label>
                <input matInput name="arc" type="number" [(ngModel)]="spell.arc">
            </mat-form-field>
        </div>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" [(ngModel)]="spell.description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <textarea matInput name="location" [(ngModel)]="spell.location"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveItem()">Save</button>
</form>