<form class="item-edit__form" #form="ngForm">
    <div class="row">
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput name="name" [(ngModel)]="tool.name">
            </mat-form-field>
        </div>
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Alias</mat-label>
                <input matInput name="alias" [(ngModel)]="tool.alias">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Item Type</mat-label>
                <mat-select name="type" [(ngModel)]="tool.type" [compareWith]="compareFn" [disabled]="true">
                    <mat-option *ngFor="let type of itemTypeOptions" [value]="type">{{type.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Item Subtype</mat-label>
                <mat-select name="subtype" [(ngModel)]="tool.subtype">
                    <mat-option value="Consumable">Consumable</mat-option>
                    <mat-option value="Reusable">Reusable</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>FP Cost</mat-label>
        <input matInput name="fpCost" type="number" [(ngModel)]="tool.fpCost">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Item Effect</mat-label>
        <textarea matInput name="effect" [(ngModel)]="tool.effect"></textarea>
    </mat-form-field>

    <h2>Attribute Scaling</h2>
    <div class="row">
        <div class="row__column row__column--2">
            <mat-form-field appearance="fill">
                <mat-label>Strength</mat-label>
                <input matInput name="strScaling" [(ngModel)]="tool.strScaling">
            </mat-form-field>
        </div>
        <div class="row__column row__column--2">
            <mat-form-field appearance="fill">
                <mat-label>Dexterity</mat-label>
                <input matInput name="dexScaling" [(ngModel)]="tool.dexScaling">
            </mat-form-field>
        </div>
        <div class="row__column row__column--2">
            <mat-form-field appearance="fill">
                <mat-label>Intelligence</mat-label>
                <input matInput name="intScaling" [(ngModel)]="tool.intScaling">
            </mat-form-field>
        </div>
        <div class="row__column row__column--2">
            <mat-form-field appearance="fill">
                <mat-label>Faith</mat-label>
                <input matInput name="faiScaling" [(ngModel)]="tool.faiScaling">
            </mat-form-field>
        </div>
        <div class="row__column row__column--2">
            <mat-form-field appearance="fill">
                <mat-label>Arcane</mat-label>
                <input matInput name="arcScaling" [(ngModel)]="tool.arcScaling">
            </mat-form-field>
        </div>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" [(ngModel)]="tool.description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <textarea matInput name="location" [(ngModel)]="tool.location"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveItem()">Save</button>
</form>