<form class="item-edit__form" #form="ngForm">
    <div class="row">
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput name="name" [(ngModel)]="armor.name">
            </mat-form-field>
        </div>
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Alias</mat-label>
                <input matInput name="alias" [(ngModel)]="armor.alias">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Item Type</mat-label>
                <mat-select name="type" [(ngModel)]="armor.type" [compareWith]="compareFn" [disabled]="true">
                    <mat-option *ngFor="let type of itemTypeOptions" [value]="type">{{type.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Item Subtype</mat-label>
                <mat-select name="subtype" [(ngModel)]="armor.subtype">
                    <mat-option value="Head">Head</mat-option>
                    <mat-option value="Chest">Chest</mat-option>
                    <mat-option value="Arms">Legs</mat-option>
                    <mat-option value="Feet">Feet</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Weight</mat-label>
        <input matInput name="weight" type="number" [(ngModel)]="armor.weight">
    </mat-form-field>

    <div class="row">
        <div class="row__column row__column--6">
            <h2>Damage Negation</h2>
            <div class="row">
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Physical</mat-label>
                        <input matInput name="physical" type="number" [(ngModel)]="armor.physical">
                    </mat-form-field>
                </div>
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Strike</mat-label>
                        <input matInput name="strike" type="number" [(ngModel)]="armor.strike">
                    </mat-form-field>
                </div>
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Slash</mat-label>
                        <input matInput name="slash" type="number" [(ngModel)]="armor.slash">
                    </mat-form-field>
                </div>
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Pierce</mat-label>
                        <input matInput name="pierce" type="number" [(ngModel)]="armor.pierce">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Magic</mat-label>
                        <input matInput name="magic" type="number" [(ngModel)]="armor.magic">
                    </mat-form-field>
                </div>
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Fire</mat-label>
                        <input matInput name="fire" type="number" [(ngModel)]="armor.fire">
                    </mat-form-field>
                </div>
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Lightning</mat-label>
                        <input matInput name="lightning" type="number" [(ngModel)]="armor.lightning">
                    </mat-form-field>
                </div>
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Holy</mat-label>
                        <input matInput name="holy" type="number" [(ngModel)]="armor.holy">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row__column row__column--6">
            <h2>Resistance</h2>
            <div class="row">
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Immunity</mat-label>
                        <input matInput name="immunity" type="number" [(ngModel)]="armor.immunity">
                    </mat-form-field>
                </div>
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Robustness</mat-label>
                        <input matInput name="robustness" type="number" [(ngModel)]="armor.robustness">
                    </mat-form-field>
                </div>
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Focus</mat-label>
                        <input matInput name="focus" type="number" [(ngModel)]="armor.focus">
                    </mat-form-field>
                </div>
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Vitality</mat-label>
                        <input matInput name="vitality" type="number" [(ngModel)]="armor.vitality">
                    </mat-form-field>
                </div>
                <div class="row__column row__column--3">
                    <mat-form-field appearance="fill">
                        <mat-label>Poise</mat-label>
                        <input matInput name="poise" type="number" [(ngModel)]="armor.poise">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" [(ngModel)]="armor.description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <textarea matInput name="location" [(ngModel)]="armor.location"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveItem()">Save</button>
</form>