<form class="item-add__form" #form="ngForm">
    <div class="row">
        <div class="row__column row__column--4">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput name="name" [(ngModel)]="item.name">
            </mat-form-field>
        </div>
        <div class="row__column row__column--4">
            <mat-form-field appearance="fill">
                <mat-label>Alias</mat-label>
                <input matInput name="alias" [(ngModel)]="item.alias">
            </mat-form-field>
        </div>
        <div class="row__column row__column--4">
            <mat-form-field appearance="fill">
                <mat-label>Item Type</mat-label>
                <mat-select name="type" [(ngModel)]="item.type">
                    <mat-option *ngFor="let type of itemTypeOptions" [value]="type">{{type.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <button mat-raised-button color="primary" (click)="continue()">Continue</button>
</form>