<form class="item-edit__form" #form="ngForm">
    <div class="row">
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput name="name" [(ngModel)]="ash.name">
            </mat-form-field>
        </div>
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>Alias</mat-label>
                <input matInput name="alias" [(ngModel)]="ash.alias">
            </mat-form-field>
        </div>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Item Type</mat-label>
        <mat-select name="type" [(ngModel)]="ash.type" [compareWith]="compareFn" [disabled]="false">
            <mat-option *ngFor="let type of itemTypeOptions" [value]="type">{{type.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="row">
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>HP Cost</mat-label>
                <input matInput name="hpCost" type="number" [(ngModel)]="ash.hpCost">
            </mat-form-field>
        </div>
        <div class="row__column row__column--6">
            <mat-form-field appearance="fill">
                <mat-label>FP Cost</mat-label>
                <input matInput name="fpCost" type="number" [(ngModel)]="ash.fpCost">
            </mat-form-field>
        </div>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Item Effect</mat-label>
        <textarea matInput name="effect" [(ngModel)]="ash.effect"></textarea>
    </mat-form-field>

    <mat-checkbox name="special" [(ngModel)]="ash.special">Special</mat-checkbox>
    <mat-checkbox name="legendary" [(ngModel)]="ash.legendary">Legendary</mat-checkbox>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" [(ngModel)]="ash.description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <textarea matInput name="location" [(ngModel)]="ash.location"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveItem()">Save</button>
</form>